.thumbnail {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	min-width: 40%;	
	border-radius: 5px;
}

.thumbnail:hover {
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.bg-danger {
	background-color: red;
}

.img-back {
	position: relative;
	z-index: 1;	
}

.img-front {
	position:absolute;
	top:12.5%;
	left:35%;
	border:none;
	z-index: 3;
	border-radius: 5px;
} 

.card-title {
	color: black;
	font-weight: 500;
}

.card-description {
	color: gray;
}

.card-percentage {
	color: black;
	font-weight: 700;
}